.title {
    text-align: center;
    color: rgb(26, 62, 161);
}

.fridgeItem {
    display: "inline-block";
    margin-left: 30px;
}

.inputLine {
    background-color: rgba(255, 255, 255, 0.616);
    border-color: rgba(255, 255, 255, 0.829);
}