.Recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
.carbon-rating {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  
  .carbon-rating-low {
    color: green;
  }
  
  .carbon-rating-medium {
    color: orange;
  }
  
  .carbon-rating-high {
    color: red;
  }
  .recipe {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    }
    
    .recipe h3 {
    margin-top: 0;
    }
    
    .recipe img {
    width: 100%;
    border-radius: 0.5rem;
    }
    
    .nutrition,
    .carbon-rating {
    margin-top: 1rem;
    }
    
    .nutrition h4,
    .carbon-rating h4 {
    margin-top: 0;
    }
    
    .nutrition li,
    .carbon-rating li {
    list-style: none;
    margin-bottom: 0.5rem;
    }
    
    .carbon-rating-text {
    margin: 0;
    }
    .recipe img {
        width: 20%;
        border-radius: 0.5rem;
        }

.recipes h1 {
  margin-top: 20px;
  text-align: center;
  color: rgb(24, 43, 129);
}

.recipes input {
  margin-top: 25px;
  width:500px
}

.recipes button {
  margin-top: 25px;
  height: fit-content;
  border-color: azure;
  color: azure;
  background-color: rgb(24, 43, 129);
}

.recipes form {
  display: flex;
  justify-content: center;
}